/* Podstawowe style */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f8f9fa;
    /* padding: 10px; */
    background-color: #333;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: 1px solid transparent; /* Przezroczysta granica jako podstawa */
    background-color: #6c757d;
    transition: transform 0.3s ease; /* Efekt hover */
    position: relative; /* Potrzebne dla pseudo-elementu */
    z-index: 1;
    animation: pulse-with-glow 7s infinite ease-in-out;
}

/* Animacja pulsowania */
@keyframes pulse-with-glow {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 rgba(66, 133, 244, 0);
    }
    50% {
        transform: scale(1.05);
        box-shadow: 0 0 15px rgba(66, 133, 244, 0.7);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 rgba(66, 133, 244, 0);
    }
}

.calculator-description {
    border-top: 1px solid rgba(0,0,0,0.1);
    padding-top: 12px;
    margin-top: 15px;
    
}

.description-text {
    font-size: 0.9rem;
    color: #555;
    line-height: 1.4;
    background-color: #ffc;
    border-radius: 15px;
    height: 90px;
    overflow: hidden;
}
@media (max-width: 768px) {
    .description-text {
        height: 70px;
    }
}


.cursor {
    color: #3498db;
    animation: blink 0.75s step-end infinite;
}

@keyframes blink {
    from, to { opacity: 1; }
    50% { opacity: 0; }
}





nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
}

/* Hamburger menu styles */
.burger {
    display: none;
    cursor: pointer;
    font-size: 2em;
    padding: 10px;
}
.navbar {
    background-color: #6c757d !important; /* Light gray background */
}
.navbar-nav .em {
    display: flex;
    align-items: center;
}
.navbar-nav .nav-item .nav-link {
    white-space: nowrap; /* Prevent text from wrapping */
    display: inline-block; /* Ensure the text stays in a line */
    vertical-align: middle; /* Align the text vertically in the middle */
    
}
.nav-item{
    transition: transform 0.3s ease; /* Efekt hover */
}
.nav-item:hover {
    transform: scale(1.1); /* Powiększenie logo po najechaniu */
}
nav ul.show {
    display: block;
}
.bg-light {
    background-color: #6c757d !important; /* Light gray background */
}

/* Hero section */
.hero {
    text-align: center;
    padding: 100px 20px;
    background-color: #6c757d;
    color: #000000; /* White text color */
    background: url('logo/background.webp') no-repeat center center fixed;
    background-size: cover;
}

.hero h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 40px;
}

.hero button {
    background-color: #ffc107;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Sekcje */
section {
    padding: 10px 10px;
}

.about-us, .services, .contact, .social-media {
    text-align: center;
}

#about-us, #services, #contact, #social-media, #our-clients {
    background-color: #6c757d;
    color: #ffffff; /* White text color */
    padding-left: 20px;
    padding-right: 20px;
    /* border-left: 10px solid #333; Left padding color */
    /* border-right: 10px solid #333; Simulate right padding color */
}

#about-us .nav-link, #services .nav-link {
    color: #ffffff; /* White text color */
    font-size: 1.2rem; /* Increase font size */
}

#about-us .nav-item .nav-link, #services .nav-item .nav-link {
    color: #ffffff; /* White text color */
    font-size: 1.2rem; /* Increase font size */
}

.service {
    margin-bottom: 20px;
}

.service h3 {
    font-size: 2.5rem;
}

.service p {
    font-size: 1.5rem;
}

/* Gallery styles */
.carousel-inner img {
    width: 100%;
    max-width: 350px;
    height: auto;
    margin: 0 auto;
}

.col-md-3 img {
    width: 100%;
    height: 200px; /* Set a fixed height */
    object-fit: cover; /* Ensure the image covers the entire area */
    border-radius: 20px; /* Rounded corners */
    transition: transform 0.3s ease; /* Efekt hover */
}
.col-md-3 img:hover {
    transform: scale(1.1); /* Powiększenie zdjęcia po najechaniu */  
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

#about-us h2 {
    font-size: 2.5rem;
}

#about-us p {
    font-size: 1.5rem;
}

#contact, #social-media, #our-clients {
    background: url('logo/beton.webp') no-repeat center center fixed;
    background-size: cover;
}

#contact h2, #social-media h2 {
    font-size: 2.5rem;
    color: #ffffff;
}

#contact p,h2, #social-media p,h2 {
    font-size: 2rem;
    color: #ffffff;
    font-weight: bold; /* Make the text bold */
    /* text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8); Add a light white shadow */
}

#contact a, #social-media a {
    color: #ffffff;
    font-size: 2rem;
}

.nav-link {
    color: #333;
    font-size: 1.2rem;
    text-decoration: none;
}

.nav-link:hover {
    color: #000;
    text-decoration: underline;
}

.nav-link {
    pointer-events: auto; /* Upewnij się, że link jest klikalny */
    cursor: pointer; /* Pokazuje ikonę kursora wskazującego na link */
}

/* Styl dla ikony Facebooka */
.social-media img.facebook-icon {
    width: 50px;
    height: 50px;
    border-radius: 30%;
    transition: transform 0.3s ease; /* Efekt hover */
}
.social-media img.facebook-icon:hover{
    transform: scale(1.1); /* Powiększenie logo po najechaniu */
}

/* Media Queries */
@media (max-width: 768px) {
    .logo img {
        display: none; /* Ukryj logo na urządzeniach mobilnych */
        width: 50%; /* Adjust the width for small devices */
        display: block; /* Ensure the logo is displayed */
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .hero {
        padding: 50px 20px;
    }

    .hero h1 {
        font-size: 2em;
    }

    .hero p {
        font-size: 1em;
    }

    .services {
        flex-direction: column;
        align-items: center;
    }

    .service {
        width: auto;
    }

    #contact p,h2, #social-media p, h2 {
        background: none; /* Remove background image */
        
    }

    .logo img {
        width: 50%; /* Adjust the width for small devices */
        display: block; /* Ensure the logo is displayed */
    }

    .navbar-nav {
        padding-right: 50px;
    }

    .social-media img.facebook-icon {
        width: 32px;
        height: 32px;
    }
}

@media (min-width: 1200px) {
    .logo img {
        width: 15%; /* Zwęż logo o 20% na dużych ekranach */
    }
}

@media (max-width: 480px) {
    .hero h1 {
        font-size: 2em;
    }

    .hero p {
        font-size: 0.9em;
    }

    .hero button {
        padding: 10px 20px;
    }

    .logo img {
        width: 30%; /* Further adjust the width for very small devices */
        display: block; /* Ensure the logo is displayed */
    }

    #contact a {
        font-size: 2rem; /* Adjust the font size for very small devices */
        word-wrap: break-word; /* Ensure the text wraps within the container */
    }

    .navbar-nav {
        padding-right: 30px;
    }
}

@media (max-width: 2387px) {
    .navbar-nav .nav-item {
        display: flex;
        align-items: center;
    }
}
@media (max-width: 992px) {
    .navbar-nav .nav-item {
        display: flex;
        align-items: center;
    }
}

.custom-navbar {
    background: url('logo/background.webp') no-repeat center center fixed;
    background-size: cover;
    /* border-top-left-radius: 40px 40px;
    border-top-right-radius: 40px 40px; */
}

.navbar-light .navbar-nav .nav-link {
    color: #000000 !important; /* White text color */
    font-size: 1.5rem !important; /* Increase font size */
}

.navbar-nav {
    padding-right: 70px;
}

a[href^="tel:"] {
    pointer-events: auto !important; /* Upewnij się, że link jest klikalny */
}

/* Sekcja "Zaufali nam" */
.our-clients {
    padding: 40px 20px;
    text-align: center;
    background-color: #f8f9fa; /* Jasne tło */
}

.our-clients h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.client-logos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; /* Odstęp między logo */
}

.client-logo {
    flex: 1 1 calc(25% - 40px); /* 4 logo w rzędzie na dużych ekranach */
    max-width: 100px; /* Maksymalna szerokość logo */
    text-align: center;
}

.client-logo img {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 10px; /* Zaokrąglone rogi */
    transition: transform 0.3s ease; /* Efekt hover */
}

.client-logo img:hover {
    transform: scale(1.1); /* Powiększenie logo po najechaniu */
}

/* Responsywność */
@media (max-width: 768px) {
    .client-logo {
        flex: 1 1 calc(50% - 20px); /* 2 logo w rzędzie na tabletach */
    }
}

@media (max-width: 480px) {
    .client-logo {
        flex: 1 1 100%; /* 1 logo w rzędzie na telefonach */
    }
}
/* Styl dla sekcji kalkulatorów */
.calculator-section {
    padding: 20px; /* Wewnętrzny odstęp */
    margin: 0; /* Brak marginesów zewnętrznych */
    /* border-left: 10px solid #333; /* Lewe obramowanie */
    /* border-right: 10px solid #333; Prawe obramowanie */ 
    background: url('logo/beton.webp') no-repeat center center fixed; /* Tło */
    background-size: cover; /* Dopasowanie tła */
}

/* Styl dla kontenera kalkulatorów */
.calculator-section .container {
    max-width: 1200px; /* Maksymalna szerokość kontenera */
    margin: 0 auto; /* Wyśrodkowanie kontenera */
    padding: 20px; /* Wewnętrzny odstęp */
}

/* Styl dla pojedynczego kalkulatora */
.calculator {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Odstęp między kalkulatorami */
}

/* Styl dla nagłówków kalkulatorów */
.calculator h3 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    text-align: center;
    color: #333;
}

/* Styl dla etykiet */
.calculator label {
    display: block;
    margin-bottom: 10px;
    font-size: 1rem;
    color: #333;
}

/* Styl dla pól input */
.calculator input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.9rem;
}

/* Styl dla przycisków */
.calculator button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.calculator button:hover {
    background-color: #0056b3;
}

/* Styl dla wyników */
.calculator p {
    margin-top: 15px;
    font-size: 1rem;
    text-align: center;
}

#total-area,
#total-volume,
#total-steel {
    font-weight: bold;
    color: #333;
}
/* Styl dla kontenera kodu QR */
.qr-code-container {
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none; /* Domyślnie ukryty */
    
}

/* Wyświetlaj kod QR tylko na dużych ekranach */
@media (min-width: 992px) {
    .qr-code-container {
        display: block;
    }
}

/* Styl dla kodu QR */
#qr-code {
    margin: 0 auto;
    padding: 10px;
    background-color: #333;
    border-radius: 10px;
    
}

.power-image {
    border-radius: 20px;
    width:100px;
    height:100px
}

.power-image {
animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {
0% {
    transform: scale(1);
    opacity: 1;
}
50% {
    transform: scale(1.05);
    opacity: 0.9;
}
100% {
    transform: scale(1);
    opacity: 1;
}
}
.power-image {
animation: pulse 3s infinite ease-in-out;
}

@keyframes pulse {
0% { transform: scale(1); }
50% { transform: scale(1.03); }
100% { transform: scale(1); }
}

.fancy-gradient {
    background: linear-gradient(90deg, #ff3366, #ba7fff, #50e3c2, #ff9500);
    background-size: 300% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: flowing-gradient 25s ease infinite;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.5px;
}

@keyframes flowing-gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
